@model DocumentDesigner.WebApi.ViewModels.ApplicationDismissalViewModel
@{
    ViewData["Title"] = "Главная";
}

<div class="row white-shadow">
    <div class="col-3 mt-5">
    </div>
    <div class="col-6">
        <h2 class="yellow-color">Шаблон документа: Увольнение по собственному желанию</h2>
        <form asp-action="CreateDocument" asp-controller="Document" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div class="mb-2">
                <label asp-for="CompanyName" class="form-label orange-color">Название компании</label>
                <input type="text" asp-for="CompanyName" class="form-control">
                <span asp-validation-for="CompanyName" />
            </div>
            <div class="mb-2">
                <label asp-for="DirectorName" class="form-label orange-color">ФИО Директора в род. падеже</label>
                <input type="text" asp-for="DirectorName" class="form-control">
                <span asp-validation-for="DirectorName" />
            </div>
            <div class="mb-2">
                <label asp-for="EmployeesPosition" class="form-label orange-color">Ваша должность</label>
                <input type="text" asp-for="EmployeesPosition" class="form-control">
            </div>
            <div class="mb-2">
                <label asp-for="EmployeesName" class="form-label orange-color">Ваше ФИО</label><br />
                <input type="text" asp-for="EmployeesName" class="form-control">
                <span asp-validation-for="EmployeesName" />
            </div>
            <div class="mb-2">
                <label asp-for="EmployeesNameTwo" class="form-label orange-color">Ваше ФИО в вин. падеже</label><br />
                <input type="text" asp-for="EmployeesNameTwo" class="form-control">
                <span asp-validation-for="EmployeesNameTwo" />
            </div>
            <button type="submit" class="btn btn-primary mb-3">Сгенерировать документ</button>
        </form>
    </div>
    <div class="col-3">
    </div>
</div>
