@{
    ViewData["Title"] = "Home Page";
}

<div class="row white-shadow mt-5">
    <h2 class="yellow-color align-center">Типы документов</h2>
    <div id="documents-row" class="row mt-3">
        <div class="col-4">
            <ul class="list-documents">
                <li class="document-heading">Первый</li>
                <li>Элемент списка</li>
                <li>Элемент списка</li>
                <li>Элемент списка</li>
            </ul>
        </div>
        <div class="col-4">
            <ul class="list-documents">
                <li class="document-heading">Второй</li>
                <li>Элемент списка</li>
                <li>Элемент списка</li>
                <li>Элемент списка</li>
            </ul>
        </div>
        <div class="col-4">
            <ul class="list-documents">
                <li class="document-heading">Третий</li>
                <li>Элемент списка</li>
                <li>Элемент списка</li>
                <li>Элемент списка</li>
            </ul>
        </div>
    </div>
</div>