@{
    ViewData["Title"] = "Мои настройки";
}

<div class="row white-shadow mt-5">
    <h2 class="yellow-color align-center">Мои настройки</h2>
    <div class="row mt-3">
        <table style="margin-left: 40%">
            <tr>
                <td style="min-width: 300px"><a asp-action="GetJuridicalPersons" class="nav-link">Мои юридические лица</a></td>
                <td style="min-width: 300px"><a asp-action="GetPhysicalPersons" class="nav-link">Мои физические лица</a></td>
            </tr>
        </table>
    </div>
</div>